public/
dkerp_old_pratibha.sql
dkerp_pratibha.sql
app/Model
app/Http/Controllers/accounting
app/Http/Controllers/Design
app/Http/Controllers/Email
app/Http/Controllers/Production
app/Http/Controllers/Purchase
app/Http/Controllers/Stock
app/Http/Controllers/Utilities

.env
/node_modules
/public/hot
/public/userimages
/public/storage
/public/upload
/public/upload/Binding
/public/Purchase
/public/Purchase/GRN
/storage
/vendor
config/backup.php

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.env.save